docs/.vuepress/public/files/example.json
[{"id":"f8bfb874.c69338","type":"tab","label":"Fluvius Smart Meter ","disabled":false,"info":""},{"id":"83206399.83118","type":"mqtt in","z":"f8bfb874.c69338","name":"","topic":"sensors/smartmeter/consumption_low_tarif","qos":"1","datatype":"auto","broker":"3a09552c.f19afa","x":200,"y":120,"wires":[["a057dc4c.612f4"]]},{"id":"5773f69.9a1d708","type":"mqtt in","z":"f8bfb874.c69338","name":"","topic":"sensors/smartmeter/consumption_high_tarif","qos":"1","datatype":"auto","broker":"3a09552c.f19afa","x":210,"y":180,"wires":[["d13064e8.507a78"]]},{"id":"a057dc4c.612f4","type":"ui_text","z":"f8bfb874.c69338","group":"7dbb92a2.30d7ac","order":1,"width":0,"height":0,"name":"","label":"Consumption Low Tarif","format":"{{msg.payload}} Kwh","layout":"row-spread","x":580,"y":120,"wires":[]},{"id":"d13064e8.507a78","type":"ui_text","z":"f8bfb874.c69338","group":"7dbb92a2.30d7ac","order":2,"width":0,"height":0,"name":"","label":"Consumption High Tarif","format":"{{msg.payload}} Kwh","layout":"row-spread","x":590,"y":180,"wires":[]},{"id":"2a6b52b6.ef39ce","type":"mqtt in","z":"f8bfb874.c69338","name":"","topic":"sensors/smartmeter/production_low_tarif","qos":"1","datatype":"auto","broker":"3a09552c.f19afa","x":200,"y":240,"wires":[["fcfe180f.4da9c8"]]},{"id":"fcfe180f.4da9c8","type":"ui_text","z":"f8bfb874.c69338","group":"7dbb92a2.30d7ac","order":3,"width":0,"height":0,"name":"","label":"Production Low Tarif","format":"{{msg.payload}} Kwh","layout":"row-spread","x":580,"y":240,"wires":[]},{"id":"9e6fd092.5772e","type":"mqtt in","z":"f8bfb874.c69338","name":"","topic":"sensors/smartmeter/production_high_tarif","qos":"1","datatype":"auto","broker":"3a09552c.f19afa","x":200,"y":300,"wires":[["fdc99d3e.b2fff"]]},{"id":"fdc99d3e.b2fff","type":"ui_text","z":"f8bfb874.c69338","group":"7dbb92a2.30d7ac","order":4,"width":0,"height":0,"name":"","label":"Production HighTarif","format":"{{msg.payload}} Kwh","layout":"row-spread","x":580,"y":300,"wires":[]},{"id":"39d4cab5.ab9916","type":"mqtt in","z":"f8bfb874.c69338","name":"","topic":"sensors/smartmeter/total_power_consumption","qos":"1","datatype":"auto","broker":"3a09552c.f19afa","x":210,"y":360,"wires":[["dc69954a.351188"]]},{"id":"e1065c4a.55cd2","type":"ui_gauge","z":"f8bfb874.c69338","name":"","group":"6b231fb6.eef8e","order":0,"width":"0","height":"0","gtype":"gage","title":"Power Consumption/Production","label":"Kw","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0","seg2":"10","x":1230,"y":360,"wires":[]},{"id":"2dd985ea.e924fa","type":"ui_chart","z":"f8bfb874.c69338","name":"","group":"6b231fb6.eef8e","order":1,"width":0,"height":0,"label":"Power Consumption/Production","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1230,"y":440,"wires":[[]]},{"id":"a3b568df.31f8c8","type":"mqtt in","z":"f8bfb874.c69338","name":"","topic":"sensors/smartmeter/total_power_production","qos":"1","datatype":"auto","broker":"3a09552c.f19afa","x":210,"y":480,"wires":[["222d2751.2688b8"]]},{"id":"e4a2c2f6.edde8","type":"mqtt in","z":"f8bfb874.c69338","name":"","topic":"sensors/smartmeter/actual_tarif","qos":"1","datatype":"auto","broker":"3a09552c.f19afa","x":170,"y":560,"wires":[["3b40589e.15c7c8"]]},{"id":"1da7ba22.6a0486","type":"ui_text","z":"f8bfb874.c69338","group":"6b231fb6.eef8e","order":8,"width":0,"height":0,"name":"","label":"Tarif","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":560,"wires":[]},{"id":"676a713d.77806","type":"mqtt in","z":"f8bfb874.c69338","name":"","topic":"sensors/smartmeter/gas_meter_m3","qos":"1","datatype":"auto","broker":"3a09552c.f19afa","x":180,"y":640,"wires":[["60455873.197a78"]]},{"id":"b24a0391.5da1e","type":"ui_text","z":"f8bfb874.c69338","group":"7dbb92a2.30d7ac","order":5,"width":0,"height":0,"name":"","label":"Consumption Gas","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":640,"wires":[]},{"id":"17d115d8.220e3a","type":"mqtt in","z":"f8bfb874.c69338","name":"","topic":"sensors/smartmeter/water_meter_m3","qos":"1","datatype":"auto","broker":"3a09552c.f19afa","x":190,"y":700,"wires":[["2ec780ec.5693b"]]},{"id":"6239f3b6.47b2ac","type":"ui_text","z":"f8bfb874.c69338","group":"7dbb92a2.30d7ac","order":6,"width":0,"height":0,"name":"","label":"Consumption Water","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":700,"wires":[]},{"id":"3b40589e.15c7c8","type":"function","z":"f8bfb874.c69338","name":"High tarif ?","func":"if(msg.payload == 1){\n    msg.payload = 'High'\n} else {\n    msg.payload = 'Low'\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["1da7ba22.6a0486"]]},{"id":"60455873.197a78","type":"function","z":"f8bfb874.c69338","name":"High tarif ?","func":"if(msg.payload == -1 || msg.payload == ''){\n    msg.payload = 'Not connected'\n} else {\n    msg.payload = msg.payload +\"m3\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":640,"wires":[["b24a0391.5da1e"]]},{"id":"2ec780ec.5693b","type":"function","z":"f8bfb874.c69338","name":"High tarif ?","func":"if(msg.payload == -1 || msg.payload == ''){\n    msg.payload = 'Not connected'\n} else {\n    msg.payload = msg.payload +\"m3\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["6239f3b6.47b2ac"]]},{"id":"dc69954a.351188","type":"function","z":"f8bfb874.c69338","name":"Add topic","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"Consumption\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["33d5fa02.1635e6"]]},{"id":"222d2751.2688b8","type":"function","z":"f8bfb874.c69338","name":"Add topic","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"Production\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["33d5fa02.1635e6"]]},{"id":"33d5fa02.1635e6","type":"join","z":"f8bfb874.c69338","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":420,"wires":[["e9978c27.de8d6"]]},{"id":"e9978c27.de8d6","type":"function","z":"f8bfb874.c69338","name":"Total energy usage","func":"msg.payload = msg.payload.Consumption - msg.payload.Production;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":420,"wires":[["e1065c4a.55cd2","2dd985ea.e924fa"]]},{"id":"3a09552c.f19afa","type":"mqtt-broker","z":"","name":"","broker":"172.17.0.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7dbb92a2.30d7ac","type":"ui_group","z":"","name":"Meters","tab":"3218ce14.a70db2","order":4,"disp":true,"width":"6","collapse":false},{"id":"6b231fb6.eef8e","type":"ui_group","z":"","name":"Dashboard","tab":"3218ce14.a70db2","order":5,"disp":true,"width":"6","collapse":false},{"id":"3218ce14.a70db2","type":"ui_tab","z":"","name":"Fluvius Smart Meter","icon":"dashboard","disabled":false,"hidden":false}]